In [46]:
#Case ilaha #caseeeeeeeeee

In [ ]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [47]:
virus=pd.read_csv('covid_19_data.csv')
virus.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [48]:
virus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6722 entries, 0 to 6721
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              6722 non-null   int64
 1   ObservationDate  6722 non-null   object
 2   Province/State   3956 non-null   object
 3   Country/Region   6722 non-null   object
 4   Last Update      6722 non-null   object
 5   Confirmed        6722 non-null   float64
 6   Deaths           6722 non-null   float64
 7   Recovered        6722 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 420.2+ KB

In [49]:
virus.isnull().sum()

SNo                   0
ObservationDate       0
Province/State     2766
Country/Region        0
Last Update           0
Confirmed             0
Deaths                0
Recovered             0
dtype: int64

In [50]:
virus.drop(['Province/State', 'SNo','Last Update'], axis = 1, inplace=True)
virus

     ObservationDate         Country/Region  Confirmed  Deaths  Recovered
0         01/22/2020         Mainland China        1.0     0.0        0.0
1         01/22/2020         Mainland China       14.0     0.0        0.0
2         01/22/2020         Mainland China        6.0     0.0        0.0
3         01/22/2020         Mainland China        1.0     0.0        0.0
4         01/22/2020         Mainland China        0.0     0.0        0.0
...              ...                    ...        ...     ...        ...
6717      03/18/2020               Guernsey        0.0     0.0        0.0
6718      03/18/2020                 Jersey        0.0     0.0        0.0
6719      03/18/2020            Puerto Rico        0.0     0.0        0.0
6720      03/18/2020  Republic of the Congo        0.0     0.0        0.0
6721      03/18/2020             The Gambia        0.0     0.0        0.0

[6722 rows x 5 columns]

In [51]:
virus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6722 entries, 0 to 6721
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  6722 non-null   object
 1   Country/Region   6722 non-null   object
 2   Confirmed        6722 non-null   float64
 3   Deaths           6722 non-null   float64
 4   Recovered        6722 non-null   float64
dtypes: float64(3), object(2)
memory usage: 262.7+ KB

In [52]:
virus= virus.groupby('ObservationDate').sum()
virus.head()

                 Confirmed  Deaths  Recovered
ObservationDate
01/22/2020           555.0    17.0       28.0
01/23/2020           653.0    18.0       30.0
01/24/2020           941.0    26.0       36.0
01/25/2020          1438.0    42.0       39.0
01/26/2020          2118.0    56.0       52.0

In [53]:
virus=virus.reset_index()
virus.head()

  ObservationDate  Confirmed  Deaths  Recovered
0      01/22/2020      555.0    17.0       28.0
1      01/23/2020      653.0    18.0       30.0
2      01/24/2020      941.0    26.0       36.0
3      01/25/2020     1438.0    42.0       39.0
4      01/26/2020     2118.0    56.0       52.0

In [54]:
virus[['ObservationDate']] = virus[['ObservationDate']].apply(pd.to_datetime)

In [55]:
startday=virus.ObservationDate.min()
startday

Timestamp('2020-01-22 00:00:00')

In [56]:
Passed_days=(virus[['ObservationDate']]- startday)
virus["Passed_days"]= Passed_days
virus.head()

  ObservationDate  Confirmed  Deaths  Recovered Passed_days
0      2020-01-22      555.0    17.0       28.0      0 days
1      2020-01-23      653.0    18.0       30.0      1 days
2      2020-01-24      941.0    26.0       36.0      2 days
3      2020-01-25     1438.0    42.0       39.0      3 days
4      2020-01-26     2118.0    56.0       52.0      4 days

In [82]:
virus['Passed_days'] = virus["Passed_days"].dt.days

In [83]:
virus[:5]['Passed_days'].astype('timedelta64[s]')

0   0 days 00:00:00
1   0 days 00:00:01
2   0 days 00:00:02
3   0 days 00:00:03
4   0 days 00:00:04
Name: Passed_days, dtype: timedelta64[ns]

In [85]:
virus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  57 non-null     datetime64[ns]
 1   Confirmed        57 non-null     float64
 2   Deaths           57 non-null     float64
 3   Recovered        57 non-null     float64
 4   Passed_days      57 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 2.4 KB

In [86]:
X=virus[['Passed_days']]
y=virus['Confirmed']

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=0)

reg=LinearRegression()
reg.fit(X_train, y_train)

print('Intercept: \n', reg.intercept_)
print('Coefficients: \n', reg.coef_)

print('Predicted price: \n', reg.predict(X_test))

Intercept:
 -10666.399341659198
Coefficients:
 [2849.54658007]
Predicted price:
 [ 89067.73096096  86218.18438088 106165.01044141  66271.35832036
  20678.61303916  -4967.30618151  83368.63780081 148908.20914253
  52023.62541999 146058.66256245    731.78697864  17829.06645909]

In [87]:
y_pred= reg.predict(X_test)
R2 = metrics.r2_score(y_test, y_pred)
print('R^2:' , R2)
n = X_test.shape[0] #sample size
p = X_test.shape[1] #number of predictors
print('Adjusted R^2 :' , 1-(1-R2)*(n-1)/(n-p-1))
print('Adjusted R^2 :'  , 1 - metrics.r2_score(y_test, y_pred))
print('Mean Absolute Error:' , metrics.mean_absolute_error(y_test, y_pred)) 
print('Mean Squared Error:' , metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:' , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

R^2: 0.8594173016053027
Adjusted R^2 : 0.845359031765833
Adjusted R^2 : 0.14058269839469728
Mean Absolute Error: 15158.325569987535
Mean Squared Error: 623937243.1602508
Root Mean Squared Error: 24978.73581989791